:root {
	--crg-gray: #bbb;
	--crg-green: #6fdf6f;
}

#sk-sheets {
	width: 100%;
	margin: 0;
	padding: 0;
}

iframe {
	width: 48%;
	margin: 0;
	padding: 0;
}

#team-1, #sk-1 {
	float: left;
	width: 45%;
	border: thin solid red;
}

#team-2, #sk-2 {
	float: right;
	width: 45%;
	border: thin solid blue;
}

#clocks {
	clear: both;
	display: flex;
}

#sk-sheets {
	position: absolute;
	bottom: 0;
}

.clock {
	background: var(--crg-gray);
	width: 15em;
	text-align: center;
	margin: 1em;
}

button[pressed] {
	background-color: var(--crg-green);
}

.clock span { display: block; }
