:root {
	--crg-gray: #bbb;
	--crg-green: #6fdf6f;
	--crg-timing-bg: #644;
}

#sk-sheets {
	width: 100%;
	margin: 0;
	padding: 0;
}

iframe {
	width: 49%;
	margin: 0;
	padding: 0;
	border: 0;
}

#main-panel > div {
	background: var(--crg-gray);
}

[team="0"] {
	margin-left: 0;
	margin-right: auto;
}

[team="1"] {
	margin-right: 0;
	margin-left: auto;
}

#controls, #timing, #clocks, #main-panel, #sk-sheets {
	clear: both;
	display: flex;
	width: 100%;
	margin-top: 0.5em;
}

#controls {
	background: var(--crg-gray);
}

#controls button, #timing button {
	display: block;
	text-align: center;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	margin-left: auto;
	margin-right: auto;
}

#timing {
	background-color: var(--crg-timing-bg);
}

#timing button {
	font-size: large;
}

[clock] {
	background: var(--crg-gray);
	width: 15em;
	text-align: center;
	margin: auto;
}

[clock] span {
	display: block;
}

[clock][running] > .name {
	background-color: var(--crg-green);
}

button[pressed] {
	background-color: var(--crg-green);
}

.toggles > button + button{
	margin-left: -0.5em;
}
